@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Lato:wght@300&display=swap');
body{
  font-size: 18px;
  
  
  }

  h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    font-family: 'fira' sans-serif;

  }

  a{
    font-size: 16px;
    font-weight: 600;

  }


  nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'fira' sans-serif;    
  }

 

  li a{
    display: block;
    text-align: center;
    padding: 8px;
    color: #fff;
    text-decoration: none;

  }

  nav a:hover{
    background-color: #e45826;
    color: #fff;
  }
  /*My Logo*/
   .logo{
       width: 48px;
       height: 56px;
       display: inline-block;
       padding: 10px 0px;
       margin: 10px;
   }

  
    
    .nav-links{
        list-style-type: none;
        display: flex;
        padding: 35px 20px;
        margin: 0 15px;
        
    }
    
.nav-item{
    padding:10px 4px;
    color: #e45826;
    text-decoration: none;
    
   }

   .honey1{
     color: #f0a500;
   position: relative;
   top: 20px;
   }
 
   .honey2{
    color: #f0a500;
  
  }
  
 .btn{
    
     width: 100px;
     height: 35px;
     background:#e45826 ;
     border: 2px #e45826;
     color:#fff;
     font-size: 12px;
   
 }

 /*HoneyValley*/
.border-style{
  border: solid;
  color: #4a3933;
  background: #4a3933;
  height: 300px;
  padding: 0px 30px;

}

.intro2{
  float: right;
  width: 375px;
  height: 309px;
}

.honeypara{
  color: #c9c6c6;
  font-size: 12.5px;
  
}

.honeypara2{
  color: #444444;
  font-size: 12.5px;
}

.style{
  border: solid;
  color: #4a3933;
  background: #4a3933;
  height: 100px;
}





/* hover test*/
.flexbox-container{
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: row-reverse;
}

.flex-box{
  height: 500px;
  width: 500px;
  background: lightgreen;
  color: #444444;
  font-size: 25px;
  text-align: center;
  line-height: 11px;
  margin: 20px -40px;
}

/*What we offer*/
.product-image{
  width: 220px;
  height: 450px;
  position: relative;
  right: 10px;
}

.item11{
  background: #fff;
  height: auto;
  width:1520px;
  padding: 40px 30px;
  margin: 2px 2px;
}

.row{
  display:flex;
  justify-content: left;

}

.flex-box:hover{
  background-color: #e45826;
  color:#e45826;
}

.firstcolumn{
  text-align: left;
  padding: 0px 0px;
}

.secondcolumn{
  text-align: center;
  margin-top: -247px;
}

.thirdcolumn{
  float: right;
  margin-top: -300px;
  padding: 0px 0px ;  
}

/*Benefits of Honey*/
.border{
  border: solid;
  color: #e6d5b8;
  background: #e6d5b8;
  height: 450px;
  
  }

.container-w{
  flex-direction: row;
  padding: 10px 10px;
  position: relative;
  bottom: 10px;
  justify-content: center;
  margin: -20px;
}

.parafont{
  font-size: 12px;
  color: #444444;
  padding: 0px 45px;
}

.rich{
  color: black;
  padding: 0px 45px;
}

.parafont-rich{
  font-size: 12px;
  color: #444444;
  position: relative;
  bottom: 15px;
  left: 50px;
}

.improves{
  color: black;
 position: relative;
 left: 45px;
 top: 20px;
}

.parafont-improves{
  font-size: 12px;
  color: #444444;
  position: relative;
  top: 5px;
  left: 45px;
}

.natural{
  color: black;
  position: relative;
  top: 5px;
  right: 65px;
}

.parafont-natural{
  font-size: 12px;
  color: #444444;
  position: relative;
  bottom: 5px;
  text-align: left;
  left: 455px;
}


.improve{
  color: black;
  position: relative;
  right: 70px;
  top: 10px;
}

.parafont-improve{
  font-size: 12px;
  color: #444444;
  position: relative;
  bottom: 5px;
  text-align: left;
  left: 455px;
}

.lower{
  color: black;
  position: relative;
  top: 10px;
  right: 35px;
}

.parafont-lower{
  font-size: 12px;
  color: #444444;
  position: relative;
  bottom: 5px;
  text-align: left;
  right: 35px;
}

.antibacterial{
  color: black;
  position: relative;
  top: 30px;
  right: 35px;
}

.parafont-antibacterial{
  font-size: 12px;
  color: #444444;
  position: relative;
  top: 25px;
  text-align: left;
  right: 35px;
}

/*Testimonials*/
.testimonials{
  padding: 0px 30px;
}

.para-test{
  padding: 0px 35px;
  font-size: 12px;
}

.flexbox-item{
 
  width: 200px;
  height: 300%;
  border: 3px solid #f8f5f1;
  background-color: #f8f5f1;
  position: relative;
  bottom: 50px;
}

.flexbox-item-1 {
  height: 200px;
  width: 100%;
}


.flexbox-item-2 {
  height: 200px;
  width: 100%;
}

.flexbox-item-3 {
  height: 200px;
  width: 100%;
}


.flexbox-text{
  color: #444444;
}


.product-image{
padding: 25px 0px 60px 80px;
margin: left 20px;


}


.item1{
  background: #fff;
  height: auto;
  width:1730px;
  padding-left: 100px;

}


#product{
  width: 300px;
  height: 500px;
}

.most-popular{
  width:270px;
  height: 600px;
  text-align: center;
  background-color: #f8f5f1;
  flex-direction: row-reverse;
  } 

  .money{
    position: relative;
    bottom: 20px;
    
  }

  .money-honey{
    position: relative;
    bottom: 30px;

  }

  .money-gram{
    position: relative;
    bottom: 5px;

  }

  .sentence1{
    color: #444444;
    font-size: 18px;
  }

  .sentence2{
    color: #444444;
    font-size: 18px;
  }

  .sentence3{
    color: #444444;
    font-size: 18px;
  }

.buynow1{
    margin-left: 5px;
    cursor: pointer;
    text-align: center;
    background-color: #e45826;
    color: #fff;
    width: 240px;
    font-size:20px;
    font-weight: bold;
    border:none;
    padding: 10px 10px;
}

.buynow2{
  margin-left: 5px;
  cursor: pointer;
  text-align: center;
  background-color: #e45826;
  color: #fff;
  width: 240px;
  font-size:20px;
  font-weight: bold;
  border:none;
  padding: 10px 40px;
  position: relative;
  top: 60px;
}

.buynow3{
  margin-left: 5px;
  cursor: pointer;
  text-align: center;
  background-color: #e45826;
  color: #fff;
  width: 240px;
  font-size:20px;
  font-weight: bold;
  border:none;
  padding: 10px 10px;
  position: relative;
  top: 80px;
}






/*Headshot Image*/

.headshot{
  border-radius: 50%;
  padding: 20px 120px  ;
}

.container{
  margin-right: 50px;
}

.container .container2{
  position: relative;
  width: calc();
  height: calc();
  background: #e6d5b8;
  float: left;
  margin: 15px;
  border-style: hidden;
  padding: 20px 130px;

}

.benefits{
  color: #444444;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: flex-start;
  padding: 0px 20px;
  
}

.most-popular:hover{
  background-color: #e45826;
  color: black ;
  box-shadow: #e45826;
  
}

/*Testimony Box CSS*/
.testimonalboxes{
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 240px auto;
}

.container-box:hover{
  background-color: #e45826;
  color: #fff;
}

.container-box{
  position: relative;
  width: calc(400px - 30px);
  height: calc(400px - 30px);
  background: #f8f5f1;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  bottom: 175px;
}

.fontp{
  font-size: 14px;
  font-style: italic;
  text-align: center;
}








/*Footer Starts Here*/


.inner-footer{
  margin: 0px;
  padding: 0px;
  background-color: #4a3933;
  height: 100px;
}


.footer-text{
  color: #fff;
  padding: 20px 40px;
}

.btnn{
  width: 400px;
  height: 50px;
  margin: 0px 100px 100px 1000px ;
  background: #e45826;
  border: 2px #e45826;
  color: #fff;
  font-size: 18px; 
  align-items: initial;
  position: absolute;
  top: 2585px;
  right: -70px;
}


.outer-footer{
 
  background-color: #f8f5f1;
  height: 300px;
 
}
.quick-links{

  display: flex;
  color: #e45826;
  
}

.social-text1{
    color: black;
position: relative;
left:  150px;
top: 20px;
}

.social-text2{
  color: black;
position: relative;
left: 280px;
top: 20px;
}

.social-text3{
  color: black;
position: relative;
left: 320px;
top: 20px;
}

.quick-item1{
    list-style: none;
    color: #e45826;
    position: relative;
    left: 130px;
    
}

.quick-item2{
  list-style: none;
  color: #e45826;
  position: relative;
  left: 140px;

  
}

.quick-item3{
  list-style: none;
  color: #e45826;
  position: relative;
  left: 140px;
  
}

.quick-item4{
  list-style: none;
  color: #e45826;
  position: relative;
  left: 145px;
  
}

.quick-item{
  list-style: none;
  color: #e45826;
  position: relative;
  left: 295px;
  
}

.copy-right{
  color: #e45826;
  text-align: center;

}

.quick-items a{
  padding: 0px 140px;
}


.social-items{
  padding: 0px 125px 0px 110px;
  list-style: none;
}

.social-itemf{
  position: relative;
  list-style: none;
  left: 260px;
}

.social-itemi{
  position: relative;
  left: 265px;
  list-style: none;
}







